<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IconExtractor.dll" version="1.0.1" targetFramework="net48" />
  <package id="IconLib" version="0.74.1" targetFramework="net48" />
  <package id="Squid-Box.SevenZipSharp" version="1.1.144" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="WinCopies.WindowsAPICodePack.Win32Native" version="1.0.0" targetFramework="net48" />
</packages>